extends layout

block content
  div(style="height: 100vh")
    center
      <div class="tenor-gif-embed" data-postid="17741577" data-share-method="host" data-width="50%" data-aspect-ratio="1.6711409395973154"><a href="https://tenor.com/view/rishi-sunak-eating-out-eat-out-help-out-eyebrow-raise-gif-17741577">Rishi Sunak Eating Out GIF</a> from <a href="https://tenor.com/search/rishisunak-gifs">Rishisunak GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
      h4 Powered by <a href="https://directlyapply.com">DirectlyApply</a>
